<%= render 'layouts/header' %>
<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="css/aboutus-css.css">
  <link href="styles/ihover.css" rel="stylesheet">


<style>
body{
  background-color: #eeeeee;
}
.divclass{
  background-color:white;
}
</style>
</head>
<body>
<div class="container">
  <div class="page-header">
    <h1 id="timeline" style="text-align:center">About Us</h1>
  </div>
  <ul class="timeline">
    <li>
      <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
      
      <div class="timeline-panel divclass">
        <div class="timeline-heading">
          <h4 class="timeline-title">IndexOutOfBounds.</h4>
          <br>
        </div>
        <div class="timeline-body ">
          <p>Ask questions, get answers, no distractions .....</p><br>     
            <p>This will  provide a platform where one will get the answers for his/her every query and will also enrich one with added thoughts from others.A platform where students as well as teachers will be intereacting ...</p>
        </div>
      </div>
    </li>
    
<!--*************************************************-->
    <li class="timeline-inverted">
      <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
      <div class="timeline-panel divclass">
        <div class="timeline-heading">
          <h4 class="timeline-title">Why IndexOutOfBounds Exists</h4>
        </div>
        <div class="timeline-body divclass">
          <p>IndexOutOfBounds’s project aims to develop an website using ruby on rails framework which will be a platform for students as well as teachers to share their knowledge about perticular technical or non technical fields by giving answers to the questions asked. On this site everyone will be ranked depending on the likes they got and we will be having dynamo of the month every  month. This website is  forum with many other facilities provided,with great user interface ....</p>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>
      <div class="timeline-panel divclass">
        <div class="timeline-heading">
          <h4 class="timeline-title">Why IndexOutOfBounds Exists</h4>
        </div>
        <div class="timeline-body divclass">
          <p><strong>Benefits Of Projects :</strong> 
      This will give a platform for students as well as teacher to share their knowledge regarding perticular topics which can a technical or non-technical.
This will  provide a platform where one will get the answers for his/her every query and will also enrich one with added thoughts from others.A platform where students as well as teachers will be intereacting ...
<ul>
<li>Have a doubt regarding projects?</li>
<li>Have a problem with academics ?</li>
<li>Want to prepare like never before for your campus placements or competitive examinations  and need proper guidance ?</li>
<li>Want to find an opinion regarding any topic which can trigger your mind?
Just ask  here ......You will definately get the answer for every question....</li>
 .</p>
        </div>
      </div>
    </li>


 <li class="timeline-inverted">
      <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
      <div class="timeline-panel divclass">
        <div class="timeline-heading">
          <h4 class="timeline-title">Why IndexOutOfBounds Exists</h4>
        </div>
        <div class="timeline-body divclass">
               <p> 
<strong>Features:</strong>
<ul>
<li>Free Registration and build your technical as well as non-technical profile.</li>
<li>Ask questions and get the answers </li>
<li>Read the questions and answers asked by others</li> 
<li>Have chat with your friends</li>
<li>Be the dynamo of the month by answering questions and getting more likes and enter into the race of thoughts.</li>
</ul><p> 
        </div>
      </div>
    </li>



  
    <div class="row">
      <h1 style="text-align:center"><strong>Developers Information</strong></h1>
           <br><div class="col-sm-4">
            <div class="ih-item circle colored effect3 left_to_right">
              <a href="#">
                <div class="img"><img class='img-responsive img-circle' style='height:220px;width:220px' src='/assets/pooja.jpg' alt='Logo white'></div>
                  <div class="info">
                    <h3>Pooja Pogul</h3>
                    <p>poojapogul@gmail.com</p>
                  </div>
              </a>
            </div>
                <center>
                <br>
                
                

          </center>
              
          </div>
          <div class="col-sm-4">
            <div class="ih-item circle colored effect3 left_to_right">
              <a href="#">
                <div class="img"><img class='img-responsive img-circle' style='height:220px;width:220px' src='/assets/teju.jpg' alt='Logo white'></div>
                  <div class="info">
                   <h3>Tejaswini Patil</h3>
                    <p>tejuthegreat5678@gmail.com</p>
                  </div>
              </a>
            </div>
                <center>
                <br>
                
                

                </center>
              
          </div>
           <div class="col-sm-4">
            <div class="ih-item circle colored effect3 left_to_right">
              <a href="#">
                <div class="img"><img class='img-responsive img-circle' style='height:220px;width:220px' src='/assets/swara.jpg' alt='Logo white'></div>
                  <div class="info">
                    <h3>Swara Sawant</h3>
                    <p>sawant12262@gmail.com</p>
                  </div>
              </a>
            </div>
                <center>
                <br>
                
                

                </center>
              
          </div>

        </div>



  </ul>
</div>
</body>
</html>
<%= render 'layouts/footer' %>