<p id="notice"><%= notice %></p>

<p>
  <strong>Useranswer:</strong>
  <%= @answer.useranswer %>
</p>

<p>
  <strong>Likes:</strong>
  <%= @answer.likes %>
</p>

<p>
  <strong>Dislikes:</strong>
  <%= @answer.dislikes %>
</p>