<style>
footer {
    background-color: #1B1F21;
    color: #ccc;
    border-top: 4px solid #e7e7e7;
    margin-top: 100px;
    padding: 30px 0px;
}
footer a {
    color: #ccc;
}
.footerleft { margin-top:5px;  }
.logofooter { margin-bottom:10px;margin-left: 30px; font-size:25px; color:white; font-weight:700;}
.logofooter1 { margin-bottom:10px; font-size:25px; color:white; font-weight:700;}

</style>
<footer role="contentinfo">
  <div class="container">
   <div class="row">
      <div class="col-sm-2">
        <div><a href="/"><img class="img-responsive" style="max-height:100px" src="/assets/logo-white.png" alt="Logo white"></a></div>
        <br>
        <div><small><a href="http://excid3.com" target="_blank">@created on 15th April,2017</a></small></div>

      </div>  
      <div class="col-md-6 footerleft">
        <div class="logofooter">
          <strong >
            Our team
          </strong>
        </div>
          <p>Swaranjali Rajendra Sawant &nbsp;&nbsp;&nbsp;&nbsp;- 2014BCS026<br>
            Tejaswini Dhondiram Patil &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- 2014BCS030<br>
            Pooja Govardhan Pogul&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- 2015BCS205<br><br>
            Phone No &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- 8485870947<br><br>
            Email id&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- sawant12262@gmail.com
          </p>    
      </div>
      <div class="col-sm-4 ">
        <div class="logofooter1"><strong>Our Interests</strong></div><br>
        <div> Technologies / Academics</div>
        <div> Open Source</div>
        <div>Science </div>
        <div>Clubs and Events</div>
        <div>Life / Arts</div>
        <div>Social Awareness</div>

        <div>Incredible India!</div>
        <div>Women Empowerment in India </div>
        <div>Travel and Photography</div>
        <div> Psychology </div>
        <div>Culture / Recreation </div>
        <div>Food </div>
        
      </div>  
      </div>
    </div>
  </div>
</footer>